$size: 20px;

// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops and Laptops
@include mediaLg {
}

// Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

// Smartphones
@include mediaSm {

  nav.desktop {
    display: none !important;
  }

  .title {
    text-align: center;
  }

  .main-image {
    display: none;
  }

  .menu-desktop {
    display: none;
  }

  .menu-btn {
    display: inline-block;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    right: 35px;
    top: 45px;

    &.hide {
      visibility: hidden;
    }

    .top {
      background: $primary-color;
      margin: 3px 0;
      height: 5px;
    }

    .middle {
      background: $primary-color;
      margin: 3px 0;
      height: 5px;
    }

    .bottom {
      height: $size;
      width: $size * 2;
      background: $primary-color;
      border-bottom-left-radius: $size * 2;
      border-bottom-right-radius: $size * 2;
    }
  }
}
