@import 'config';
@import 'menu';

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 75rem;
  margin: 0 auto;
  font-family: urbane-rounded, sans-serif;
  background-color: $background-light;
  color: $secondary-color;
  min-height: 100vh;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

#main-grid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

.desktop {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: baseline;
  padding: 1.875rem;
}

.logo {
  font-weight: 700;
  color: $primary-color;
  font-size: 1.5rem;
  & a {
    color: $primary-color;

    &:hover {
      color: $primary-light;
    }
  }
}

nav {
  color: $secondary-color;
  justify-self: flex-end;
  justify-content: space-between;
}

nav > a {
  margin: 0 1.25rem;
}

/* Main */

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  align-items: center;
  padding: 0 1.875rem;
  flex-grow: 2;
}

.lg-heading {
  font-size: 5rem;
  line-height: 4.5rem;
  margin-bottom: 0.5rem;
}

.sm-heading {
  margin-bottom: 1.038rem;
}

.main-btn {
  background-color: $primary-color;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1.225rem;
  border: 0;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}

.sm-btn {
  background-color: $primary-color;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border-radius: 1.225rem;
  border: 0;
  font-weight: 700;
  font-size: 0.97rem;
  cursor: pointer;
  max-width: 15rem;

  &:hover {
    background-color: $secondary-color;
  }
}

.main-image {
  justify-self: center;
  //margin-top: 120px;
  height: auto;
  margin-bottom: -0.438rem;
}

.accent {
  color: $primary-color;
}

.backToHome {
  margin: 3rem 0 0;
}

.borderCircle {
  $border: 5px;
  color: #fff;
  background-clip: padding-box !important; /* !importanté */
  border: solid $border transparent !important; /* !importanté */
  border-radius: 99999px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border !important; /* !importanté */
    border-radius: inherit !important; /* !importanté */
    background: linear-gradient(to right, red, orange) !important;
  }
}

.icon {
  font-size: 2rem;
  color: $primary-color;
  padding: 2rem 0rem;
}

// ABOUT
.about {
  max-width: 46rem;
  margin: 1rem auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.about-image {
  justify-self: center;
  height: auto;
  margin: 0 auto;
}

// BLOG
.main-blog {
  max-width: 46rem;
  margin: 0 auto;
  text-align: left !important;
}

.post {
  max-width: 46rem;
  margin: 0 auto;
  text-align: left !important;

  p {
    margin-bottom: 1rem;
  }

  li {
    margin: 1rem 2rem;
  }
}

// CONTACT
#form-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  max-width: 47rem;
  margin: 0 auto;
}

#form-container h2,
p {
  margin-bottom: 2rem;
}

#form-box {
  background: #fff;
  position: relative;
  width: 37.5rem;
  border-top-right-radius: 0.313rem;
  border-top-left-radius: 0.313rem;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

#form-box.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

#next-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: $primary-color;
  float: right;
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: $primary-light;
  }
}

#prev-btn {
  position: absolute;
  font-size: 18px;
  left: 30px;
  top: 12px;
  z-index: 2;
  color: $secondary-light;
  float: right;
  cursor: pointer;
  &:hover {
    color: $secondary-color;
  }
}

#input-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  input {
    position: relative;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    box-shadow: none;
  }

  #input-label {
    position: absolute;
    pointer-events: none;
    top: 32px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }

  input:valid + #input-label {
    top: 6px;
    left: 42px;
    margin-left: 0 !important;
    font-size: 11px;
    font-weight: normal;
    color: $secondary-light;
  }
}

#input-progress {
  border-bottom: 3px solid $primary-color;
  width: 0;
  transition: width 0.6s ease-in-out;
}

#progress-bar {
  position: absolute;
  background: $secondary-color;
  height: $progress-height;
  transition: width 0.5s ease-in-out;
}

.error {
  #input-progress {
    border-color: $error;
  }

  #next-btn {
    color: $error;
  }
}

@media (max-width: 600px) {
  #form-box {
    width: 100%;
  }
}

// FOOTER

footer {
  color: #fff;
  background-color: $primary-color;
  display: block;
  padding: 0.813rem;
  width: 100%;
  z-index: 100;
  //margin-top: auto;
}

@import 'mobile';
